#selected-pokemon-container {
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  max-width: 400px;
  margin-top: 25px;
  text-align: center;
}

#pokemon-name {
  text-align: center;
  font-family: fantasy;
}
